*{
    box-sizing: border-box;
    //overflow: scroll;
    //border: 1px dotted red;
    

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$white: #efefef;
$blue-light: #495057;
$blue-mid: #343a40;
$blue-dark: #212529;
$pink: #ff8484;

$padding-sides: 1.7rem;

$desktop: 800px;

@mixin desktop {
    @media only screen and (min-width: #{$desktop}){
        @content;
    }
}

body, html{
    font-family: 'Poppins', sans-serif, Arial, sans-serif;
    color: $white;
    background-color: $blue-mid;
    margin: 0;
}

header{
    position: sticky;
    background-color: $blue-dark;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    h3{
        font-size: clamp(1rem, 6vw, 2rem);
        margin-left: .7em;
        padding: .2em;
    }
    nav{   
        margin-right: .7em;
        a{
            font-size: clamp(.5rem, 4vw, 1.4rem);
            text-decoration: none;
            color: $white;
            padding: 0 1.5vw;
        }
    }
}

.code-text{
    color: $pink;
    font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
}

.section-text{
    margin: 0;
    font-size: clamp(1rem, 7vw, 2rem);
    text-align: left;
    text-transform: uppercase;
    padding: 1rem $padding-sides;
}

main{
    margin: 0;
    padding: 0;

    .main-page{
        
        //border: 1px solid green;
        padding:  1.4rem $padding-sides 1.4rem $padding-sides;

        .main-left{
            display: inline-flex;
            flex-direction: column;
            .intro{
                margin: 0;
                font-size: 1.5rem;
            }
            
            h1{
                width: 50%;
                font-size: clamp(2rem, 11.5vw, 3.3rem);
                margin: 0;
            }
        
            .description{
                line-height: 28px;
                font-size: clamp(1rem, 5vw, 1.5rem);
                font-weight: 300;

            }
            
            .main-design{
                display: none;
            }

            .download-resume{
                padding: 0 10px;
                align-items: center;
                background-color: $blue-light;
                border-radius: 100px;
                border: none;
                display: flex;
                margin: 1rem auto;
                justify-content: space-evenly;
                color: $white;
                width: clamp(100px, 45vw, 200px);

                p{
                    height: auto;
                    font-size: clamp(1rem, 5vw, 1.5rem);
                    font-family: 'Poppins', sans-serif, Arial, sans-serif;
                    font-weight: 500;
                    margin: .8rem 0;
                }
    
                .download-icon{
                    width: clamp(20px, 25%, 70px);
                }
            }

            .call-to-action{
                text-align: center;

                p{
                    font-size: clamp(1rem, 7vw, 2.2rem);
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $pink;  
                    margin: 2rem auto 0 auto;
                }

                .down-arrow{
                    margin-top: .5rem;
                    width: 40px;
                }
            }
        }

        .main-right{
            display: inline;
            position: absolute;
            right: 2rem;

            .main-graphic{
                display: none;
            }

            .socials{
                display: flex;
                flex-direction: column;
                .social-icon{
                    width: clamp(20px, 13vw, 70px);
                }
            }
        }
    }

    .featured-projects{
        //border: 1px solid green;
        background-color: $blue-light;
        padding-top: 1.5rem;
        .featured-label{
            background-color: $blue-dark;
            width: clamp(150px, 55vw, 270px);
            border-radius: 0 100px 100px 0;
        }

        .projects{
            .project{   
                .left{
                    padding: 1rem $padding-sides;
                    overflow-x: hidden;

                    h3{
                        font-size: clamp(1rem, 8vw, 2.5rem);
                    }

                    p{
                        font-size: clamp(1rem, 4.5vw, 1.4rem);
                        font-weight: 400;
                        line-height: 1.8rem;
                        text-align: justify;
                    }

                    ul{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;

                        li{
                            margin: .5rem 1rem .5rem 0;
                            padding: .2rem 1rem;
                            list-style: none;
                            background-color: $blue-dark;
                            border-radius: 100px;
                            font-size: clamp(0.3rem, 4vw, 1.2rem);
                            text-align: center;
                        }
                    }
                }

                .right{
                    padding: 1rem 0;
                    overflow-x: hidden;
                    .project-sc{
                        position: relative;
                        left: $padding-sides;
                        width: 100vw;
                        border-radius: 25px;
                    }
                    .view-buttons{
                        background-color: $blue-dark;
                        float: right;
                        border-radius: 100px 0 0 100px;
                        position: relative;
                        bottom: clamp(20px, 10vw, 60px);
                        display: grid;
                        place-content: center;
                        grid-template-columns: 1fr 1fr;

                        a{
                            text-decoration: none;
                            display: grid;
                            place-content: center;
                            margin: clamp(.5rem, 2vw, 1rem);
                        }
                        .icon{
                            fill: $white;
                            width: clamp(20px, 13vw, 60px);
                        }
                        .globe{
                            padding-left: .6rem;
                        }
                    }
                }
            }
            .dark-bg{
                background-color: $blue-mid;
            }
        }
    }

    .career{
        background-color: $white;
        padding-top: 1.5rem;
        .career-label{
            background-color: $blue-dark;
            width: clamp(150px, 40vw, 200px);
            border-radius: 0 100px 100px 0;
            margin-bottom: 2.5rem;
        }
        .skills-logos{
            padding: 0 3rem 3rem 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            .logo{
                margin: 1rem;
                width: clamp(50px, 20vw, 100px);
            }
        }
    }

    .contact{
        .contact-design{
            display: none;
        }
        h2{
            text-align: center;
            text-transform: uppercase;
            font-size: clamp(1rem, 7vw, 2rem);
        }
        .contact-form{
            display: flex;
            width: auto;
            justify-content: center;

            form{
                display: flex;
                flex-direction: column;

                label{
                    font-size: clamp(1rem, 3vw, 1.5rem);
                }
                .input{
                    width: clamp(100px, 70vw, 700px);
                    font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
                    font-size: clamp(0.5rem, 4vw, 1rem);
                    font-weight: 500;
                    padding-left: 20px;
                }
                input{
                    margin: .5rem 0 1rem 0;
                    border: 0;
                    border-radius: 100px;
                    height: 3rem;
                }
                textarea{
                    padding-top: 10px;
                    margin: .3rem 0 2rem 0;
                    border-radius: 25px;
                }
    
                .input::placeholder{
                    color: $pink;
                    font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
                    font-size: clamp(0.5rem, 4vw, 1rem);
                }
    
                .submit{
                    margin: 0 auto;
                    color: $white;
                    background-color: $blue-dark;
                    font-size: clamp(1rem, 4vw, 1.4rem);
                    font-weight: 500;
                    width: clamp(100px, 30vw, 170px);
                }
            }
        }
    }
}

footer{
    margin-top: 2rem;
    padding: 1rem;
    background-color: $blue-dark;
    text-align: center;
    display: flex;
    flex-direction: column;
    h4{
        font-size: clamp(1rem, 4vw, 1.2rem);
        margin: .6rem;
    }
}

