*{
    box-sizing: border-box;
    //overflow: scroll;
    //border: 1px dotted red;
    

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$white: #efefef;
$blue-light: #324A5F;
$blue-mid: #1B2A41;
$blue-dark: #162233;
$pink: #ff8484;


$padding-sides: 2rem;


$desktop: 800px;

@mixin desktop {
    @media only screen and (min-width: #{$desktop}){
        @content;
    }
}



body, html{
    font-family: 'Poppins', sans-serif, Arial, sans-serif;
    color: $white;
    background-color: $blue-light;
    margin: 0;

}

header{
    position: sticky;
    z-index: 10;
    background-color: $blue-dark;
    width: 100%;
    height: clamp(60px, 4.5vw, 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    h3{
        font-size: clamp(1rem, 6vw, 2rem);
        margin-left: .7em;
        padding: .2em;
    }
    nav{   
        margin-right: .7em;
        a{
            font-size: clamp(.5rem, 4vw, 1.4rem);
            text-decoration: none;
            color: $white;
            padding: 0 1.5vw;
        }
    }
}

.code-text{
    color: $pink;
    font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
}

.section-text{
    margin: 0;
    font-size: clamp(1rem, 7vw, 2rem);
    text-align: left;
    text-transform: uppercase;
    padding: 1rem $padding-sides;
}

main{
    margin: 0;
    padding: 0;


    .main-page{

        //border: 1px solid green;
        @include desktop{
            display: grid;
            grid-template-columns: 55vw 45vw;
        }
        .main-left{
            display: inline-flex;
            flex-direction: column;
            background-color: $blue-mid;
            padding:  1.4rem $padding-sides 1.4rem $padding-sides;
            @include desktop{
                $padding-desk: clamp(2rem, 10vw, 13rem);
                border-radius: 0 0 25px 0;
                padding:  3rem $padding-desk;
                //height: 92vh;
                //min-height: 770px;
            }
            .intro{
                margin: 0;
                font-size: 1.4rem;
                @include desktop{
                    font-size: clamp(1.4rem, 2vw, 3rem);
                }
            }
            
            h1{
                width: 50%;
                font-size: clamp(3rem, 4vw, 4rem);
                margin: 0;
                @include desktop{
                    //font-size: clamp(2rem, 5vw, 4rem);
                }
            }
        
            .description{
                line-height: 28px;
                font-size: clamp(1.1rem, 1.5vw, 1.5rem);
                font-weight: 300;
                @include desktop{
                    //font-size: clamp(0.7rem, 4vw, 1rem);
                }

            }
            
            .main-design{
                .design{
                    width: 200px;
                }

                display: none;

                @include desktop{
                    display: inline;
                    position: absolute;
                    right: calc(45vw - 127px);
                    top: 60px;
                    z-index: 0;
                }
            }

            .download-resume{
                cursor: pointer;
                padding: 0 10px;
                margin: 1rem auto;
                background-color: $blue-light;
                color: $white;
                border-radius: 100px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: clamp(100px, 45vw, 200px);

                p{
                    height: auto;
                    font-size: clamp(1rem, 4vw, 1.5rem);
                    font-family: 'Poppins', sans-serif, Arial, sans-serif;
                    font-weight: 500;
                    margin: .8rem 0;
                }
    
                .download-icon{
                    width: clamp(20px, 25%, 70px);
                }
            }

            .call-to-action{
                text-align: center;

                p{
                    font-size: clamp(1.5rem, 4vw, 2.2rem);
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $pink;  
                    margin: 2rem auto 0 auto;
                }

                .down-arrow{
                    margin-top: .5rem;
                    width: 40px;
                }
            }
        }

        .main-right{
            display: inline;
            position: absolute;
            right: 2rem;

            @include desktop{
                position: static;
                background-color: $blue-light;
                display: flex;
                flex-direction: column;
                align-items: center;

            }
            .main-graphic{
                display: none;
                @include desktop{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 22rem;
                    height: 200px;

                    .layer-1{
                        position: relative;
                        z-index: 9;
                        transition: transform 1s;
                    }

                    .layer-2{
                        position: relative;
                        bottom: 95px;
                        z-index: 8;
                        transition: transform 1s;
                    }
                    .layer-3{
                        position: relative;
                        bottom: 190px;
                        z-index: 7;
                        transition: transform 1s;
                    }
                    .layer-4{
                        position: relative;
                        bottom: 285px;
                        z-index: 6;
                        transition: transform 1s;
                    }
                }
            }

            .main-graphic:hover .layer-1{
                transform: translateY(-70px);
            }
            .main-graphic:hover .layer-2{
                transform: translateY(-60px);
            }
            .main-graphic:hover .layer-3{
                transform: translateY(20px);
            }
            .main-graphic:hover .layer-4{
                transform: translateY(100px);
            }

            .socials{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                @include desktop{
                    margin-top: 80px;
                    flex-direction: row;
                    align-items: center;
                    float: right;
                    background-color: $blue-mid;
                    border-radius: 100px 0 0 100px;
                    align-self: end;
                    align-self: flex-end;

                }
                .social-icon{
                    width: clamp(20px, 13vw, 70px);
                    @include desktop{
                        margin: 12px;
                    }
                }
                .github{
                    @include desktop{
                        margin-left: 30px;
                    }
                }
            }
        }
    }

    .featured-projects{
        //border: 1px solid green;
        background-color: $blue-light;
        padding-top: 2.5rem;
        .featured-label{
            background-color: $blue-dark;
            width: clamp(150px, 55vw, 270px);
            border-radius: 0 100px 100px 0;
        }

        .projects{
            .project{  
                @include desktop{
                    padding: 0 0 0 3rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                } 
                .left{
                    padding: 1rem $padding-sides;
                    overflow-x: hidden;

                    h3{
                        font-size: clamp(1rem, 8vw, 2.5rem);
                    }

                    p{
                        font-size: clamp(1rem, 4.5vw, 1.4rem);
                        font-weight: 400;
                        line-height: 1.8rem;
                        text-align: justify;
                    }

                    ul{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;

                        li{
                            margin: .5rem 1rem .5rem 0;
                            padding: .2rem 1rem;
                            list-style: none;
                            background-color: $blue-dark;
                            border-radius: 100px;
                            font-size: clamp(0.3rem, 4vw, 1.2rem);
                            text-align: center;
                        }
                    }
                }

                .right{
                    @include desktop{
                        align-self: center;
                    } 
                    padding: 1rem 0;
                    overflow-x: hidden;
                    .project-sc{
                        position: relative;
                        left: $padding-sides;
                        width: 100vw;
                        border-radius: 25px;
                        @include desktop{
                            width: 100%;
                            min-width: 500px;
                        }
                    }
                    .view-buttons{
                        background-color: $blue-dark;
                        float: right;
                        border-radius: 100px 0 0 100px;
                        position: relative;
                        bottom: clamp(20px, 10vw, 60px);
                        display: grid;
                        place-content: center;
                        grid-template-columns: 1fr 1fr;

                        a{
                            text-decoration: none;
                            display: grid;
                            place-content: center;
                            margin: clamp(.5rem, 2vw, 1rem);
                        }
                        .icon{
                            fill: $white;
                            width: clamp(20px, 13vw, 60px);
                        }
                        .globe{
                            padding-left: .6rem;
                        }
                    }
                }
            }
            .first{
                background-color: $blue-mid;
                position: relative;
                top: 1rem;
            }
            .light{
                fill: $blue-light;
            }
            .dark{
                fill: $blue-mid;
            }
            .dark-bg{
                background-color: $blue-mid;
            }
        }
    }

    .career{
        background-color: $white;
        padding-top: 1.5rem;
        margin-top: 4rem;
        .career-label{
            background-color: $blue-dark;
            width: clamp(150px, 40vw, 200px);
            border-radius: 0 100px 100px 0;
            margin-bottom: 2.5rem;
            .section-text{
                font-size: clamp(1.5rem, 7vw, 2.5rem);
            }
        }
        .skills-logos{
            padding: 0 3rem 3rem 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            .logo{
                margin: 1rem;
                width: clamp(50px, 20vw, 100px);
            }
        }
    }

    .contact{
        background-color: $blue-mid;
        .contact-design{
            display: none;
        }
        h2{
            text-align: center;
            text-transform: uppercase;
            font-size: clamp(1rem, 7vw, 2rem);
            margin: 0;
            padding: 2rem 0;
        }
        .contact-form{
            display: flex;
            width: auto;
            justify-content: center;

            form{
                display: flex;
                flex-direction: column;

                label{
                    font-size: clamp(1rem, 3vw, 1.5rem);
                }
                .input{
                    width: clamp(100px, 70vw, 700px);
                    font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
                    font-size: clamp(0.5rem, 4vw, 1rem);
                    font-weight: 500;
                    padding-left: 20px;
                }
                input{
                    margin: .5rem 0 1rem 0;
                    border: 0;
                    border-radius: 100px;
                    height: 3rem;
                }
                textarea{
                    padding-top: 10px;
                    margin: .3rem 0 2rem 0;
                    border-radius: 25px;
                }
    
                .input::placeholder{
                    color: $pink;
                    font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
                    font-size: clamp(0.5rem, 4vw, 1rem);
                }
    
                .submit{
                    cursor: pointer;
                    margin: 0 auto 3rem auto;
                    color: $white;
                    background-color: $blue-dark;
                    font-size: clamp(1rem, 4vw, 1.7rem);
                    font-weight: 600;
                    width: clamp(100px, 30vw, 170px);
                }
            }
        }
    }
}

footer{
    padding: 1rem;
    background-color: $blue-dark;
    text-align: center;
    display: flex;
    flex-direction: column;
    h4{
        font-size: clamp(1rem, 4vw, 1.2rem);
        margin: .6rem;
    }
}

