@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif, Arial, sans-serif;
  color: #efefef;
  background-color: #324A5F;
  margin: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  background-color: #162233;
  width: 100%;
  height: clamp(60px, 4.5vw, 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

header h3 {
  font-size: clamp(1rem, 6vw, 2rem);
  margin-left: .7em;
  padding: .2em;
}

header nav {
  margin-right: .7em;
}

header nav a {
  font-size: clamp(0.5rem, 4vw, 1.4rem);
  text-decoration: none;
  color: #efefef;
  padding: 0 1.5vw;
}

.code-text {
  color: #ff8484;
  font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
}

.section-text {
  margin: 0;
  font-size: clamp(1rem, 7vw, 2rem);
  text-align: left;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

main {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 800px) {
  main .main-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55vw 45vw;
        grid-template-columns: 55vw 45vw;
  }
}

main .main-page .main-left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1B2A41;
  padding: 1.4rem 2rem 1.4rem 2rem;
}

@media only screen and (min-width: 800px) {
  main .main-page .main-left {
    border-radius: 0 0 25px 0;
    padding: 3rem clamp(2rem, 10vw, 13rem);
  }
}

main .main-page .main-left .intro {
  margin: 0;
  font-size: 1.4rem;
}

@media only screen and (min-width: 800px) {
  main .main-page .main-left .intro {
    font-size: clamp(1.4rem, 2vw, 3rem);
  }
}

main .main-page .main-left h1 {
  width: 50%;
  font-size: clamp(3rem, 4vw, 4rem);
  margin: 0;
}

main .main-page .main-left .description {
  line-height: 28px;
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
  font-weight: 300;
}

main .main-page .main-left .main-design {
  display: none;
}

main .main-page .main-left .main-design .design {
  width: 200px;
}

@media only screen and (min-width: 800px) {
  main .main-page .main-left .main-design {
    display: inline;
    position: absolute;
    right: calc(45vw - 127px);
    top: 60px;
    z-index: 0;
  }
}

main .main-page .main-left .download-resume {
  cursor: pointer;
  padding: 0 10px;
  margin: 1rem auto;
  background-color: #324A5F;
  color: #efefef;
  border-radius: 100px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: clamp(100px, 45vw, 200px);
}

main .main-page .main-left .download-resume p {
  height: auto;
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-family: 'Poppins', sans-serif, Arial, sans-serif;
  font-weight: 500;
  margin: .8rem 0;
}

main .main-page .main-left .download-resume .download-icon {
  width: clamp(20px, 25%, 70px);
}

main .main-page .main-left .call-to-action {
  text-align: center;
}

main .main-page .main-left .call-to-action p {
  font-size: clamp(1.5rem, 4vw, 2.2rem);
  font-weight: 600;
  text-transform: uppercase;
  color: #ff8484;
  margin: 2rem auto 0 auto;
}

main .main-page .main-left .call-to-action .down-arrow {
  margin-top: .5rem;
  width: 40px;
}

main .main-page .main-right {
  display: inline;
  position: absolute;
  right: 2rem;
}

@media only screen and (min-width: 800px) {
  main .main-page .main-right {
    position: static;
    background-color: #324A5F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .main-page .main-right .main-graphic {
  display: none;
}

@media only screen and (min-width: 800px) {
  main .main-page .main-right .main-graphic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 22rem;
    height: 200px;
  }
  main .main-page .main-right .main-graphic .layer-1 {
    position: relative;
    z-index: 9;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  main .main-page .main-right .main-graphic .layer-2 {
    position: relative;
    bottom: 95px;
    z-index: 8;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  main .main-page .main-right .main-graphic .layer-3 {
    position: relative;
    bottom: 190px;
    z-index: 7;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  main .main-page .main-right .main-graphic .layer-4 {
    position: relative;
    bottom: 285px;
    z-index: 6;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
}

main .main-page .main-right .main-graphic:hover .layer-1 {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

main .main-page .main-right .main-graphic:hover .layer-2 {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

main .main-page .main-right .main-graphic:hover .layer-3 {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

main .main-page .main-right .main-graphic:hover .layer-4 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

main .main-page .main-right .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

@media only screen and (min-width: 800px) {
  main .main-page .main-right .socials {
    margin-top: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
    background-color: #1B2A41;
    border-radius: 100px 0 0 100px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    align-self: flex-end;
  }
}

main .main-page .main-right .socials .social-icon {
  width: clamp(20px, 13vw, 70px);
}

@media only screen and (min-width: 800px) {
  main .main-page .main-right .socials .social-icon {
    margin: 12px;
  }
}

@media only screen and (min-width: 800px) {
  main .main-page .main-right .socials .github {
    margin-left: 30px;
  }
}

main .featured-projects {
  background-color: #324A5F;
  padding-top: 2.5rem;
}

main .featured-projects .featured-label {
  background-color: #162233;
  width: clamp(150px, 55vw, 270px);
  border-radius: 0 100px 100px 0;
}

@media only screen and (min-width: 800px) {
  main .featured-projects .projects .project {
    padding: 0 0 0 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

main .featured-projects .projects .project .left {
  padding: 1rem 2rem;
  overflow-x: hidden;
}

main .featured-projects .projects .project .left h3 {
  font-size: clamp(1rem, 8vw, 2.5rem);
}

main .featured-projects .projects .project .left p {
  font-size: clamp(1rem, 4.5vw, 1.4rem);
  font-weight: 400;
  line-height: 1.8rem;
  text-align: justify;
}

main .featured-projects .projects .project .left ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .featured-projects .projects .project .left ul li {
  margin: .5rem 1rem .5rem 0;
  padding: .2rem 1rem;
  list-style: none;
  background-color: #162233;
  border-radius: 100px;
  font-size: clamp(0.3rem, 4vw, 1.2rem);
  text-align: center;
}

main .featured-projects .projects .project .right {
  padding: 1rem 0;
  overflow-x: hidden;
}

@media only screen and (min-width: 800px) {
  main .featured-projects .projects .project .right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

main .featured-projects .projects .project .right .project-sc {
  position: relative;
  left: 2rem;
  width: 100vw;
  border-radius: 25px;
}

@media only screen and (min-width: 800px) {
  main .featured-projects .projects .project .right .project-sc {
    width: 100%;
    min-width: 500px;
  }
}

main .featured-projects .projects .project .right .view-buttons {
  background-color: #162233;
  float: right;
  border-radius: 100px 0 0 100px;
  position: relative;
  bottom: clamp(20px, 10vw, 60px);
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .featured-projects .projects .project .right .view-buttons a {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: clamp(0.5rem, 2vw, 1rem);
}

main .featured-projects .projects .project .right .view-buttons .icon {
  fill: #efefef;
  width: clamp(20px, 13vw, 60px);
}

main .featured-projects .projects .project .right .view-buttons .globe {
  padding-left: .6rem;
}

main .featured-projects .projects .first {
  background-color: #1B2A41;
  position: relative;
  top: 1rem;
}

main .featured-projects .projects .light {
  fill: #324A5F;
}

main .featured-projects .projects .dark {
  fill: #1B2A41;
}

main .featured-projects .projects .dark-bg {
  background-color: #1B2A41;
}

main .career {
  background-color: #efefef;
  padding-top: 1.5rem;
  margin-top: 4rem;
}

main .career .career-label {
  background-color: #162233;
  width: clamp(150px, 40vw, 200px);
  border-radius: 0 100px 100px 0;
  margin-bottom: 2.5rem;
}

main .career .career-label .section-text {
  font-size: clamp(1.5rem, 7vw, 2.5rem);
}

main .career .skills-logos {
  padding: 0 3rem 3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .career .skills-logos .logo {
  margin: 1rem;
  width: clamp(50px, 20vw, 100px);
}

main .contact {
  background-color: #1B2A41;
}

main .contact .contact-design {
  display: none;
}

main .contact h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1rem, 7vw, 2rem);
  margin: 0;
  padding: 2rem 0;
}

main .contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contact .contact-form form label {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

main .contact .contact-form form .input {
  width: clamp(100px, 70vw, 700px);
  font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
  font-size: clamp(0.5rem, 4vw, 1rem);
  font-weight: 500;
  padding-left: 20px;
}

main .contact .contact-form form input {
  margin: .5rem 0 1rem 0;
  border: 0;
  border-radius: 100px;
  height: 3rem;
}

main .contact .contact-form form textarea {
  padding-top: 10px;
  margin: .3rem 0 2rem 0;
  border-radius: 25px;
}

main .contact .contact-form form .input::-webkit-input-placeholder {
  color: #ff8484;
  font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
  font-size: clamp(0.5rem, 4vw, 1rem);
}

main .contact .contact-form form .input:-ms-input-placeholder {
  color: #ff8484;
  font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
  font-size: clamp(0.5rem, 4vw, 1rem);
}

main .contact .contact-form form .input::-ms-input-placeholder {
  color: #ff8484;
  font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
  font-size: clamp(0.5rem, 4vw, 1rem);
}

main .contact .contact-form form .input::placeholder {
  color: #ff8484;
  font-family: 'Roboto Mono', monospace, 'Courier New', Courier, monospace;
  font-size: clamp(0.5rem, 4vw, 1rem);
}

main .contact .contact-form form .submit {
  cursor: pointer;
  margin: 0 auto 3rem auto;
  color: #efefef;
  background-color: #162233;
  font-size: clamp(1rem, 4vw, 1.7rem);
  font-weight: 600;
  width: clamp(100px, 30vw, 170px);
}

footer {
  padding: 1rem;
  background-color: #162233;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h4 {
  font-size: clamp(1rem, 4vw, 1.2rem);
  margin: .6rem;
}
/*# sourceMappingURL=style.css.map */